*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
div{
    width: 400px;
    height: auto;
    min-height: 300px;
    box-shadow: 3px 4px 30px rgb(82, 81, 81);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    margin: 100px 0 0 600px;
}
h1{
    color: cornflowerblue;
}
input{
    outline: none;
    border: none;
    background:thistle;
    padding: 10px;
    border-radius: 20px;
    width: 70%;
}
button{
    border: none;
    padding: 10px;
    background:tan;
    border-radius: 30px;
    cursor:pointer;
}
button:hover,div:hover{
    box-shadow: 3px 3px 20px teal;
}